body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px!important;
}

h2 {
    font-size: 2.325rem!important;
}

p {
    color: white;
}

ul {
    margin: 0;
    padding: 5px;
    background-color: gray;
    width: 150px;
    color: white;
}

ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

fieldset > div > label {
    padding-left: 0.4rem;
}

#guess-caption {
    font-size: 0.75rem;
}

/* CSS GRID */
.grid-item {
    justify-self: center;
    align-self: center;
}
.grid-item-title {
    grid-area: title;
}
.grid-item-flag {
    grid-area: flag;
}
.grid-item-score {
    grid-area: score;
}

/* Guess Grid to get Caption text. */
.grid-item-guess {
    grid-area: guess;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 60px 10px 80px;
}
.grid-item-guess-box {
  grid-column: 1;
  grid-row: 1;
}
/* END Guess Grid */ 

.grid-item-guess-caption {
  grid-column: 1;
  grid-row: 2;
}
.grid-item-guess-button{
  grid-column: 1;
  grid-row: 3;
}

.grid-item-return-screen {
    grid-area: returnScreen;
}

.container {
    display: grid;
    padding: 2rem;
    border-radius: 2rem;
    background-color: #33383d;

    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 400px auto;
    grid-template-areas: 
        "title title"
        "flag score"
        "guess returnScreen"; */

    grid-template-columns: 1fr;
    grid-template-rows: auto 600px auto auto auto;
    grid-template-areas: 
        "title"
        "flag"
        "guess"
        "score"
        "returnScreen"
}

img#flag {
    width: 800px;
    max-height: 500px;
}

button#submit {
    font-size: 2rem;
    border-radius: 1rem;
}
button#region-dialog-btn {
    font-size: 1rem;
    border-radius: 1rem;
}

#countries {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#score-table {
    font-size: 2rem;
}

#score-streak {
    padding-left: 1.75rem;
}